/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@font-face
{
	src: url('Berserker.ttf');
	font-family: "gow-font";
}
:root
{
	--header-height: 5rem;
	--font-semi: 600;
}
/* Colors */
:root
{
	--first-color: #356eaa;
	--second-color: #fff;
	--third-color: #040509;
}
/* Fonte */
:root
{
	--body-font: 'gow-font', 'Poppins', sans-serif;
	--big-font-size: 1.75rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px)
{
	:root
	{
		--big-font-size: 3.25rem;
		--h2-font-size: 2rem;
		--normal-font-size: 1rem;
	}
}
/* Margens */
:root
{
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}
/* z index */
:root{
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
}
/* Base */
*,::before,::after
{
	box-sizing: border-box;
}
html
{
	scroll-behavior: smooth;
}
body
{
	margin: var(--header-heigth) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--second-color);
	background-color: var(--third-color);
}
h1,h2,p
{
	margin: 0;
}
ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
a
{
	text-decoration: none;
}
img
{
	max-width: 100%;
	height: auto;
	display: block;
}
/* Class CSS */
.section-title
{
	position: relative;
	font-size: var(--h2-font-size);
	color: var(--second-color);
	margin-top: var(--mb-2);
	margin-bottom: var(--mb-4);
	text-align: center;
}
.section-title::after
{
	position: absolute;
	content: "";
	width: 64px;
	height: 0.18rem;
	left: 0;
	right: 0;
	margin: auto;
	top: 2rem;
	background-color: var(--first-color);
}
.section
{
	padding-top: 3rem;
	padding-bottom: 2rem;
}
/* Layout */
.bd-grid
{
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% - 2rem);
	margin-left: var(--mb-4);
	margin-right: var(--mb-4);
}
.l-header
{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: rgba(0, 0, 0, 0);
}
.nav
{
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: var(--font-semi);
	z-index: 10;
}
@media screen and (max-width: 768px)
{
	.nav__container
	{
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 2rem;
		background-color: var(--third-color);
		background-image: url('background.png');
		background-size: cover;
		transition: .4s;
		z-index: 1;
	}

}
.nav__item
{
	margin-bottom: var(--mb-4);
}
.link
{
	position: relative;
	color: #fff;
}
.link:hover
{
	position: relative;
}
.link:hover::after
{
	position: absolute;
	content: "";
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 2rem;
	background-color: var(--first-color);
}
.nav__logo
{
	position: fixed;
	top: var(--mb-1);
	left: var(--mb-2);
	z-index: 10;
}
.logo__img
{
	width: 300px;
}
.nav__menu
{
	margin-right: var(--mb-2);
	color: var(--second-color);
	font-size: 2rem;
	cursor: pointer;
	z-index: 10;
}
/* Active menu */
.active::after
{
	position: absolute;
	content: "";
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 2rem;
	background-color: var(--first-color);
}
/* Show menu */
.show
{
	right: 0;
}
/* Home */
.home
{
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--third-color);
	z-index: var(--z-back);
}
.home__image
{
	z-index: 1;
}
.image_5
{
	position: relative;
	top: 3rem;
	overflow: hidden;
	z-index: 2;
}
.image_5 img
{
	padding-top: 2rem;
	padding-bottom: 2rem;
	transform: scale(1.2);
}
.image_4
{
	position: absolute;
	top: 5rem;
	z-index: 1;
	overflow: hidden;
	background-size: cover;
}
.image_4 img
{
	transform: scale(1.5);
}
.home__container .image_1
{
	position: relative;
	z-index: 10;
}
.home__title
{
	font-size: var(--big-font-size);
	z-index: 11;
}
.home__buttom
{
	position: relative;
	top: 2rem;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.home__buttom a
{
	position: relative;
	width: 150px;
	height: 37.5px;
	margin: 10px 0;
	color: var(--second-color);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.home__buttom a:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(border.png);
	background-size: cover;
	z-index: 10;
}
.home__buttom a span
{
	position: relative;
	z-index: 10;
}
.line-2
{
	position: absolute;
	width: 60vh;
	left: -10.5rem;
	top: 17rem;
	border: 2px solid #356EAA;
	transform: rotate(90deg);
	z-index: 1;
}
.social__links
{
	position: absolute;
	bottom: 1rem;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	display: flex;
	flex-direction: column;
	z-index: 11;
}
.link__icon
{
	width: max-content;
	margin-top: var(--mb-2);
	font-size: 1.5rem;
	color: var(--second-color);
}
@media screen and (min-width: 768px)
{
	body
	{
		margin: 0;
	}
	.section
	{
		margin-top: 4rem;
		margin-bottom: 3rem;
	}
	.section-title
	{
		margin-bottom: var(--mb-6);
	}
	.section-title::after
	{
		width: 80px;
		top: 3rem;
	}

	.nav
	{
		max-width: calc(100% - 4rem);
		height: calc(var(--header-height) + 1rem);
	}
	.nav__list
	{
		display: flex;
		padding-top: 0;
	}
	.nav__item
	{
		margin-left: var(--mb-6);
		margin-bottom: 0;
	}
	.nav__menu
	{
		display: none;
	}
	.link
	{
		color: var(--second-color);
	}
	.active::after
	{
		background-color: var(--first-color);
	}

	.home
	{
		height: 100%;
	}
	.home__image
	{
		position: relative;
	}
	.image_5
	{
		position: absolute;
		width: 900px;
		top: -3rem;
		right: 3rem;
		padding: 4rem;
	}
	.image_4
	{
		position: absolute;
		top: -10vh;
		right: 7rem;
	}
	.home__container
	{
		position: absolute;
		top: 20rem;
		left: 11vw;
		display: flex;
		flex-direction: column;
		z-index: 200;
	}
	.home__container img
	{
		position: relative;
		width: 600px;
	}
	.home__buttom
	{
		position: absolute;
		top: 40rem;
		left: 23vw;
	}
}
